@charset "UTF-8";

:root {
--color-accent: #3584E4;
--color-outline: #555555;
--color-background: #222222;
--color-white: #F2F2F2;
--color-text: whitesmoke;
--color-sub: darkgray;
--color-blue: #3584E4;
--color-green: #33D17A;
--color-yellow: #F6D32D;
--color-orange: #FF7800;
--color-red: #E01B24;
--color-purple: #9141AC;
--color-brown: #986A44;
}

::-webkit-scrollbar {
display: none;
height: 0px;
width: 0px;
}

@media all { /* GENERAL */

html {
height: -webkit-fill-available;
background-color: var(--color-background);
color: var(--color-text);
padding: 0;
margin: 0;
}

body {
width: 100vw;
height: 100vh;
min-width: 360px;
min-height: 100vh;
min-height: -webkit-fill-available;
box-sizing: border-box;
font-family: Ubuntu, Ubuntu Sans, Adwaita Sans, Inter, Cantarell, sans-serif;
font-size: 11pt;
margin: 0;
}

body * {    
box-sizing: border-box;
line-height: normal;
padding: 0;
margin: 0;
}

header {
z-index: 3;
width: 100%;
display: block;
align-content: center;
text-align: center;
}

#panel {
position: fixed;
user-select: none;
background-color: #121212;
height: 32px;
padding: 3px;
}

#panel time {
position: fixed;
inset: 0;
top: 8px;
height: fit-content;
justify-self: center;
}

#panel .pill {border-radius: 13px}
#panel .pill:hover,
#panel .pill:focus {background-color: #383838;}
#workspacer {float: left}

#session {
float: right;
padding: 5px 6px;
}

#session > * {
float: left;
margin: 0 6px;
}

a, abbr {
text-decoration: none;
color: inherit;
}

img {
display: block;
object-fit: cover;
}

img[src$="symbolic.svg"] {filter: brightness(200%)}

nav#dock {
display: flex;
flex-flow: row nowrap;
background-color: #383838;
border-radius: 28px;
position: fixed;
padding: 12px;
bottom: 12px;
gap: 4px;
height: 100px;
justify-self: center;
}

nav#dock img {
width: 64px;
height: 64px;
}

nav#dock a {
width: 76px;
height: 76px;
padding: 6px;
position: relative;
border-radius: 16px;
}

nav#dock a::after {
content: attr(data-tooltip);
position: absolute;
top: -50px; 
left: 50%;
transform: translateX(-50%);
color: #ffffff;
background-color: #222222;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
outline: thin solid #464646;
padding: 6px 12px;
border-radius: 15px;
white-space: nowrap;
pointer-events: none;
opacity: 0;
}

nav#dock a:hover {background-color: #4B4B4B}
nav#dock a:focus {
background-color: #585858;
outline: none;
}
nav#dock a:hover::after,
nav#dock a:focus::after {opacity: 1}

#erase {
position: absolute;
background: none;
border: none;
}
#searchbar:placeholder-shown + #erase {display: none}
#searchbar:not(:placeholder-shown) + #erase {display: block}
main > .hidden {display: none !important}

main.grid {
display: flex;
align-items: flex-start;
align-content: flex-start;
overflow: scroll;
height: 100%;
}

main.grid figure {
text-align: center;
width: 112px;
}

main.grid figcaption {margin-top: 6px}

main.scalable figure img {
width: 64px;
height: 64px;
margin: 0 auto;
}

aside hr {
border: none;
background-color: #4C4C4C;
margin: 7px 0;
height: 1px;
}

#empty {
width: 100%;
height: 100%;
display: flex;
flex-flow: column nowrap;
align-items: center;
justify-content: center;
text-align: center;
pointer-events: none;
user-select: none;
gap: 12px;
}

#empty img {
width: 128px;
height: 128px;
filter: initial;
}

#empty h1 {
margin-top: 24px;
font-weight: bold;
font-size: 20pt;
}
}

@media (max-width: 360px) { /* Mobile */ 
#panel {height: 26px; padding: 0;}
#panel time {display: none}
}